g.g10
	path(d='M76.7,30H13.3c-1.8,0-3.3-1.5-3.3-3.3V13.3c0-1.8,1.5-3.3,3.3-3.3h63.3c1.8,0,3.3,1.5,3.3,3.3v13.3 C80,28.5,78.5,30,76.7,30z')
	path(d='M56.6,90H43.4c-1.9,0-3.4-1.5-3.4-3.4V63.4c0-1.9,1.5-3.4,3.4-3.4h13.1c1.9,0,3.4,1.5,3.4,3.4v23.1 C60,88.5,58.5,90,56.6,90z')
g.g01
	polyline(stroke-width='6' stroke-miterlimit='10' points='50,72 50,60 87,40 87,20 80,20')
