@import '../../styles/lib';

.form {
  margin: 0 auto;
  padding: size(2);
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  @include flex(column, flex-start, center);

  &__field {
    width: 100%;
  }

  &__row {
    width: 100%;
    @include flex(row, space-between, center);
  }
}
