<nav class="menu">
  <h2 class="menu__header">Menu</h2>
  <div class='divider'></div>
  <ul class="menu__list">
    <li
      class="menu__item"
      routerLinkActive="active"
      [routerLinkActiveOptions]='{ exact: true }'
      *ngFor="let route of routes"
    >
      <a
        [routerLink]="route.endPoint"
        class="menu__link"
      >
        {{ route.title }}
      </a>
    </li>
    <div class='divider'></div>
    <li
      class='menu__item menu__item--btn'
      *ngIf='authService.getIsAuth()'
      (click)='authService.logout()'
    >
      <a class='menu__link'>Logout</a>
    </li>
  </ul>
</nav>
