@use '@angular/material' as mat;

@include mat.core();

$primaryPalette: mat.define-palette(mat.$blue-grey-palette, 900);
$secondaryPalette: mat.define-palette(mat.$grey-palette);
$accentPalette: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$warnPalette: mat.define-palette(mat.$red-palette);

$themeColors: (
  primary: $primaryPalette,
  accent: $accentPalette,
  warn: $warnPalette,
);

$dark-theme: mat.define-dark-theme((color: $themeColors));
$light-theme: mat.define-light-theme((color: $themeColors));
