// MODULE: Инпуты (модуль для настроек или страниц, использующих мои инпуты)

@import 'nib'

@require 'modules/_vars.styl'
@require 'modules/_mixins.styl'

// BLOCK: Импорты модулей-разделов

@import 'modules/_label.styl'
@import 'modules/_radio.styl'
@import 'modules/_switch.styl'