#about.dialog__block
    h3.dialog__block__header= 'Информация'
    .about__container
        include _about-logo.pug
    .menu-item__text.about__text
        .menu-item__header= `Loshica OS ${version} Web`
        .menu-item__secondary.
            Loshica Corporation
            #[sup= 'TM']
            #[br]
            @all rights reserved