<div class='page auth-page'>
  <form
    class='form'
    *ngIf='!isAuth'
    [formGroup]='form'
    (ngSubmit)='submitHandler()'
  >
    <h2>Login</h2>
    <mat-form-field appearance='outline'>
      <mat-label>Login</mat-label>
      <input
        matInput
        type='text'
        placeholder='Enter login'
        [value]='loginControl?.value'
        formControlName='login'
        autocomplete='off'
      >
    </mat-form-field>
    <mat-form-field appearance='outline'>
      <mat-label>Password</mat-label>
      <input
        matInput
        type='password'
        placeholder='Enter password'
        [value]='passwordControl?.value'
        formControlName='password'
        autocomplete='off'
      >
    </mat-form-field>
    <button
      mat-flat-button
      color='accent'
      type='submit'
      [disabled]='form.invalid'
    >
      Login
    </button>
  </form>

  <h2 *ngIf='isAuth'>Already authorized</h2>
</div>
