// MODULE: "О сайте"

@import 'nib'

@require '_vars.styl'
@require '_mixins.styl'

.about
    &__container
        dimen(100%, auto)
        flexi(column, flex-start, center)

    &__logo
        padding b(8)
        dimen(b(25), b(25))

    &__text
        padding b(2)
        dimen(calc(100% - 20px), auto)
        flexi(column, center, center)
        
        @media --q.lg-
            border-top 1px solid --v.secColor

        & .menu-item__header
            fs(2.5)

            @media --q.-md
                text-align center

            &:first-letter
                color --v.accent

        & .menu-item__secondary
            fs(1.6)

        & sup
            font-size .5em