// MODULE: Шрифты

@import 'nib'

@font-face
    font-family 'Open Sans'
    src: local('Open Sans Light'), local('OpenSans-Light'), 
    url('../font/opensanslight.woff2') format('woff2'), 
    url('../font/opensanslight.woff') format('woff'), 
    url('../font/opensanslight.ttf') format('truetype');
    font-weight 300
    font-style normal

@font-face 
    font-family 'Open Sans'
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), 
    url('../font/opensanslightitalic.woff2') format('woff2'), 
    url('../font/opensanslightitalic.woff') format('woff'), 
    url('../font/opensanslightitalic.ttf') format('truetype');
    font-weight 300
    font-style italic

@font-face 
    font-family 'Open Sans'
    src: local('Open Sans Bold'), local('OpenSans-Bold'), 
    url('../font/opensansbold.woff2') format('woff2'), 
    url('../font/opensansbold.woff') format('woff'), 
    url('../font/opensansbold.ttf') format('truetype');
    font-weight 700
    font-style normal

@font-face 
    font-family 'Open Sans'
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), 
    url('../font/opensansbolditalic.woff2') format('woff2'), 
    url('../font/opensansbolditalic.woff') format('woff'), 
    url('../font/opensansbolditalic.ttf') format('truetype');
    font-weight 700
    font-style italic