// MODULE: ROOT

@import 'nib'

@require '_vars.styl'
@require '_mixins.styl'

:root
    --accent_color --v.accent_r
    --accent_opacity-color --v.oAccent_r

    --main_bg-color --v.mainBg_r
    --main_text-color --v.mainColor_r

    --secondary_bg-color --v.secBg_r
    --secondary_text-color --v.secColor_r

    --divider_color --v.divider_r
    --hover_bg-color --v.hover_r
    
    --font_family --v.fontF_r